name: Build_Test_Deploy BP_Calculator                                        
env:
  AZURE_WEBAPP_NAME: myBPcalcualator            # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: 'publish'              # set this to the path to your web app project

on:
 workflow_dispatch:        
# push:                                             #  workflow_dispatch for manually triggered
#   branches: [ master ]
 
permissions:
  id-token: write
  contents: read
  checks: write
  actions: read
  
jobs:
  build:                                            # "build" job
    runs-on: ubuntu-latest                         # runner
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Build for Release
      run: dotnet build --configuration Release
    - name: Run unit tests
      run: dotnet test BP_UnitTest/BP_UnitTest.csproj --no-restore --collect "Code coverage" -l:trx   
    - name: Publish Unit Test Results
      uses: dorny/test-reporter@v1
      with:
        artifact: ''
        name: MS Tests                  
        path: '**.trx'
        reporter: 'dotnet-trx'                  
    # run Specflow+ tests
    - name: Run Acceptance Tests 
      run: dotnet test BDDtesting/BDDtesting.csproj  --verbosity normal -l:trx

    - name: sonar 
      steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
        with:
          projectBaseDir: 
          args: >
            -Dsonar.organization=bogo80
            -Dsonar.projectKey=Bogo80_CA1Asigment
            -Dsonar.python.coverage.reportPaths=coverage.xml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          
    - name: Publish
      run: dotnet publish -c Release -o '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp' 

# Deploy to Azure Web apps
    - name: Run Azure webapp deploy action using publish profile credentials
      uses: azure/webapps-deploy@v2
      with: 
        app-name: ${{ env.AZURE_WEBAPP_NAME }}                        # your app name
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE  }} # Define secret variable in repository settings as per action documentation
        package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp'
